.box__form{
    width: 273px;
    height: 290px;
    padding: 20px;

    margin: 0 30px;
    /* margin-top: 20px; */

    border: 1px solid #E9ECEF;
    border-radius: 4px;

    font-family: 'Nunito', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}
.box__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.box__input input{
    width: 275px;
    height: 45px;

    padding: 0;
    margin: 20px 0 5px 0;

    background: #F8F9FA;

    border: 2px solid #F8F9FA;
    border-radius: 8px;
}
.box__input input::placeholder {
    padding: 0;
    margin: 0;
}

.box__valores{
    display: flex;
    gap: 22px;
}
.box__valor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.box--input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 140px;
    
    background: #F8F9FA;   
    border-radius: 8px;

    font-family: 'Nunito', sans-serif;
}
#description{
    margin-bottom: 20px;
}
.span-compra{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #868E96;
}
#value, select{
    height: 45px;
    width: 110px;
    
    padding: 10px;
    background: #F8F9FA;   

    border: 2px solid #F8F9FA;
    border-radius: 8px;

    font-family: 'Nunito', sans-serif;
}
#value:focus{
    border: none;
    font-family: 'Nunito', sans-serif;

}
.box__tipo--valor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
}

.span-type{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: #212529;
}
.btn--valor{
    width: 100%;
    height: 50px;

    color: white    ;
    background-color: #FD377E;
    cursor: pointer;
}

.span-valor{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: #212529;
}
@media(min-width: 600px){
    .box__form{
        height: 340px;
    }
    form{
        gap: 40px;
    }
}
